.summoners-card{
  background-color: #5F86B5;
}
.summoners-tabs::ng-deep {
  background-color: #7295BE;
}

.search-bar{
  border-radius: 5%;
  width:80%;
  text-align: center;
  background-color: #ffffff;
  margin:0 auto;
}

.region{
  width:25%;
}

.summ-name{
  margin-left:1%;
  width: 50%;
}
