.summoners-card{
  background-color: #5F86B5;
}
.summoners-tabs::ng-deep {
  background-color: #7295BE;
}

.search-bar{
  width:80%;
  text-align: center;
  margin:0 auto;
}

.region{
  width:25%;
}

.summ-name{
  margin-left:1%;
  width: 50%;
}

::ng-deep .mat-form-field-underline {
  display: none!important;
}
