.summoner-historic{
  background-color: #7295BE;
  height:100%;
}
.summoner-icon{
  border-radius:100%;
}
.summoner-icon-img{
  max-width: 100%;
  border-radius:100%;
}
.summoner-name{
  margin-left:5%;
  color:#FECF66;
}
.historic{
  width:65%;
  margin:1px;
}
